.idea/
src/__pycache__
src/common/__pycache__
src/datasets/__pycache__
src/models/__pycache__
src/models/fusemix/__pycache__
src/tasks/__pycache__
src/runners/__pycache__
src/collators/__pycache__
src/trainers/__pycache__
src/utils/__pycache__

data
logging
wandb

push_to_hub.py

# For local scripts
scripts/train/_*.sh
scripts/_*.sh
configs/train/_*.yml
configs/evaluate/_*.yml

